.container{
    top: 50;
    left: 50px;
    width: 520px;
    background:  url("https://i.pinimg.com/originals/38/78/9a/38789a76113059f7ac220171a854787e.jpg")no-repeat center center;
    color: white; 
    border: rgb(0, 0, 0);
    border-radius: 30px;
    border-style: solid;
    padding: 20px;
    margin-top:180px;
    display: flex;
    align-items: stretch;
  }
  
  .normal{
    width: 600px;
    padding: 5px;
    margin: 5px;
  }
  .button{
    padding: 10px;
    text-align: center;
    color: white;
  }
  .col-6{
    margin: 0 auto;
  }  