<div class="col-6">
    <div class="container">
      <div class="col align-self-start">
        <form #formLogin = "ngForm" (ngSubmit)="goTo(formLogin)">
          <div class= "row">
            <label >
              <strong>Correo Electronico: </strong>
            </label>
            <input type="email" name="Correo" class="email_From" id="InputEmail1" aria-describedby="emailHelp" ngModel 
                   required="" #correo="ngModel">
          </div>
          <div class="row">
            <label><strong>Contraseña:</strong></label>
            <input type="password" name="contrasena" class="password_Email" id="InputPassword1" required="" ngModel>
          </div>
          <div class="row" class = "button">
            <button type="submit" class="btn btn-primary" >Entrar</button>
            </div>
            
            <div class="row" class = "button">
              <button mat-stroked-button type="button" class="btn btn-info" (click) = "Registrar()" >Registrarse</button>
              </div>
        </form>
      </div>
    </div>
  </div>