<div class="col-6">
    <div class="container">
      <div class="col align-self-start">
        <form #formLogin = "ngForm" (ngSubmit)="goTo(formLogin)">
          <div class= "row">
            <label >
              Correo Electronico:
            </label>
            <input type="email" name="Correo" class="email_From" id="InputEmail1" aria-describedby="emailHelp" ngModel 
                   required="" #correo="ngModel">
          </div>
          <div class="row">
            <label>Contraseña:</label>
            <input type="password" name="contrasena" class="password_Email" id="InputPassword1" required="" ngModel>
          </div>
          <div class="row" class = "button">
            <button mdbBtn type="submit" gradient="blue" mdbWavesEffect >Entrar</button>
            </div>
            
            <div class="row" class = "button">
              <button mdbBtn type="button" gradient="aqua" mdbWavesEffect (click) = "Registrar()" >Registrarse</button>
              </div>
        </form>
      </div>
    </div>
  </div>