.modal-content{
    margin-top:80px;
    margin-left: -150px;
    width: 800px;
    border: rgb(0, 0, 0);
    color: white; 
    border-radius: 40px;
    border-style: solid;
    padding: 20px;
    display: flex;
    align-items: stretch;

  }

  .m1 .modal-content{
    margin-top:80px;
    margin-left:-150px;
    width: 800px;
    color: rgb(0, 0, 0); 
    padding: 5px;
    display: flex;
    align-items: stretch;
  }

  .m2 .modal-content{
    margin-top:80px;
    margin-left:180px;
    width: 500px;
    background:  url("https://st2.depositphotos.com/1605581/8381/i/600/depositphotos_83819542-stock-photo-blue-gradient-background-abstract-illustration.jpg")no-repeat center center;
    border: rgb(0, 0, 0);
    color: white; 
    border-radius: 40px;
    border-style: solid;
    padding: 5px;
    display: flex;
    align-items: stretch;

  }