
<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong>Salir</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="principalVistaAdmin">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link"  >Gestionar Dispositivos</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="GestionarTipo" >Gestionar Tipo Dispositivos</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"   href= "GestionarDistribuidores" >Gestionar Distribuidores</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href= "GestionarTienda"  >Gestionar Tienda en Línea</a>
                </li>
                
            </ul>
            <button type="button" mdbBtn color="default" data-toggle="modalAgregar" data-target="#agregarDispositivoModal" 
            (click)="frame1.show()" mdbWavesEffect>Agregar Dispositivos</button>
            <button type="button" mdbBtn color="default" data-toggle="modalBuscar" data-target="#buscarDipositivoModal"  
            (click)="frame2.show()" mdbWavesEffect>Buscar Dispositivo</button>
        </links>
        
    </mdb-navbar>
</header>

<div class="d-flex flex-nowrap"></div>
<div *ngFor="let item of res1; let i = index" >
    <div class="modal.show() container" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title">{{item.nombre}}</h5>
          </div>
          <div class="modal-body">
            <p>Tipo: {{item.tipo.nombre}}</p>
            <p>Marca: {{item.marca}}</p>
            <p>Consumo Electrico: {{item.consumoElectrico}}</p>
            <p>#serie: {{item.numeroSerie}}</p>
            <p>Precio: ₡{{item.precio}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click) = "enviarAEditar(item)" >Editar </button>
            <button type="button" class="btn btn-danger" (click) = "Eliminar_Dispositivo(item)"  >Eliminar </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div mdbModal #frame1="mdbModal" class="modal fade top" id="agregarDispositivoModal" tabindex="-1" role="dialog"
     aria-labelledby="agregarDispositivoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="m1">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Agregar Dispositivos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame1.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body mx-3">
            <form #AgrgarDispositivo = "ngForm" (ngSubmit)="goTo(AgrgarDispositivo)">

            <div class="md-form mb-5">
              <mdb-icon fas icon="shopping-cart" class="prefix white-text"></mdb-icon>
              <input type="text" name="Nombre" id="InputNombre" class="form-control white-text"
                  required="" ngModel mdbInput>
              <label for="InputNombre" class="white-text">Nombre</label>
            </div>

            <div class="md-form mb-5">
              <mdb-icon fas icon="dollar-sign" class="prefix white-text"></mdb-icon>
              <input type="text" name="precio" id="InputPrecio" class="form-control white-text"
                     mdbInput required="" ngModel>
              <label for="InputPrecio" class="white-text">Precio</label>
            </div>

            <div class="md-form mb-5">
              <mdb-icon fas icon="file" class="prefix white-text"></mdb-icon>
              <input type="text" name="tipo" id="InputTipo" class="form-control white-text"
                     mdbInput required="" ngModel>
              <label for="InputTipo" class="white-text">Tipo</label>
            </div>
            
            <div class="md-form mb-5">
              <mdb-icon fas icon="barcode" class="prefix white-text"></mdb-icon>
              <input type="text" name="numeroSerie" id="InputNumeroSerie" class="form-control white-text"
                     mdbInput required="" ngModel>
              <label for="InputNumeroSerie" class="white-text">Numero Serie</label>
            </div>

            <div class="md-form mb-5">
              <mdb-icon fas icon="tags" class="prefix white-text"></mdb-icon>
              <input type="text" name="marca" id="InputMarca" class="form-control white-text"
                     mdbInput required="" ngModel>
              <label for="InputMarca" class="white-text">Marca</label>
            </div>

            <div class="md-form mb-5">
              <mdb-icon fas icon="plug" class="prefix white-text"></mdb-icon>
              <input type="text" name="consumoElectrico" id="InputConsumoElectrico" class="form-control white-text"
                     mdbInput required="" ngModel>
              <label for="InputConsumoElectrico" class="white-text">Consumo Electrico</label>
            </div>

            <div class="row" class = "button">
              <button type="submit" class="btn btn-primary" >Enviar</button>
              </div>
  
            </form>
          </div>
      </div>
    </div>
    </div>
  </div>

  <div mdbModal #frame2="mdbModal" class="modal fade top" id="buscarDipositivoModal" tabindex="-1" role="dialog"
     aria-labelledby="buscarDipositivoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="m1">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Buscar Dispositivos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body mx-3">
            <form #BuscarDispositivo = "ngForm" (ngSubmit)="goToBuscar(BuscarDispositivo)">

            <div class="md-form mb-5">
              <mdb-icon fas icon="search" class="prefix white-text"></mdb-icon>
              <input type="text" name="busquedaEnt" id="InputBusquedaEnt" class="form-control white-text"
                  required="" ngModel mdbInput>
              <label for="InputBusquedaEnt" class="white-text">Buscar</label>
            </div>
          
            <div class="row" class = "button">
              <button type="submit" class="btn btn-primary" (click)="frame3.show()" >Buscar</button>
              </div>
  
            </form>
          </div>
      </div>
    </div>
    </div>
  </div>

  <div mdbModal #frame3="mdbModal" class="modal fade top" id="DipositivoBuscadoModal" tabindex="-1" role="dialog"
     aria-labelledby="DipositivoBuscadoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="m1">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Dispositivos Encontrados</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame3.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngFor="let item of res4; let i = index" >
        <div class="container">
          <div class="col align-self-start">
                
                <p> {{item.nombre}}</p>
                <p>Tipo: {{item.tipo.nombre}}</p>
                <p>Marca: {{item.marca}}</p>
                <p>Consumo Electrico: {{item.consumoElectrico}}</p>
                <p>#serie: {{item.numeroSerie}}</p>
                <p>Precio: ₡{{item.precio}}</p>
                <p> --------------------------</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
      <div mdbModal #frameEditar="mdbModal" class="modal fade top" id="EditarDispositivoModal" tabindex="-1" role="dialog"
         aria-labelledby="editarDispositivoLabel" aria-hidden="true" [ngStyle]="{'display': frameEditarAbrir ? 'block' : 'none', 'opacity': 1}">
      <div class="modal-dialog" role="document">
        <div class="m2">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Editar Dispositivos</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editarDispositivoClose(false)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div class="modal-body mx-3">

                <div *ngFor="let item of dispositivoEditando; let i = index" >

                <form #EditarDispositivoEditado = "ngForm" (ngSubmit)="goToEditar(EditarDispositivoEditado)">
    
                <div class="md-form mb-5">
                  <mdb-icon fas icon="user" class="prefix white-text"></mdb-icon>
                  <input type="text" name="nombreEditar" id="InputNombre" class="form-control white-text"
                        mdbInput required="" ngModel="{{item.nombre}}">
                  <label for="InputNombreEditar" class="white-text">Nombre</label>
                </div>
    
                <div class="md-form mb-5">
                  <mdb-icon fas icon="dollar-sign" class="prefix white-text"></mdb-icon>
                  <input type="text" name="precioEditar" id="InputPrecioEditar" class="form-control white-text"
                         mdbInput required="" ngModel="{{item.precio}}">
                  <label for="InputPrecioEditar" class="white-text">Precio</label>
                </div>
    
                <div class="md-form mb-5">
                  <mdb-icon fas icon="file" class="prefix white-text"></mdb-icon>
                  <input type="text" name="tipoEditar" id="InputTipoEditar" class="form-control white-text"
                         mdbInput required="" ngModel="{{item.tipo.nombre}}">
                  <label for="InputTipoEditar" class="white-text">Tipo</label>
                </div>
                
                <div class="md-form mb-5">
                  <mdb-icon fas icon="barcode" class="prefix white-text"></mdb-icon>
                  <input type="text" name="numeroSerieEditar" id="InputNumeroSerieEditar" class="form-control white-text"
                         mdbInput required="" ngModel="{{item.numeroSerie}}">
                  <label for="InputNumeroSerieEditar" class="white-text">Numero Serie</label>
                </div>
    
                <div class="md-form mb-5">
                  <mdb-icon fas icon="tags" class="prefix white-text"></mdb-icon>
                  <input type="text" name="marcaEditar" id="InputMarcaEditar" class="form-control white-text"
                         mdbInput required="" ngModel="{{item.marca}}">
                  <label for="InputMarcaEditar" class="white-text">Marca</label>
                </div>
    
                <div class="md-form mb-5">
                  <mdb-icon fas icon="plug" class="prefix white-text"></mdb-icon>
                  <input type="text" name="consumoElectricoEditar" id="InputConsumoElectricoEditar" class="form-control white-text"
                         mdbInput required="" ngModel="{{item.consumoElectrico}}">
                  <label for="InputConsumoElectricoEditar" class="white-text">Consumo Electrico</label>
                </div>
    
                <div class="row" class = "button">
                  <button type="submit" class="btn btn-primary" >Enviar Edición</button>
                  </div>
      
                </form>

              </div>
              </div>
          </div>
        </div>
        </div>
      </div>
