<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong>Salir</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="principalVistaAdmin">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link"  >Gestionar Dispositivos</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="GestionarTipo" >Gestionar Tipo Dispositivos</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"   href= "GestionarDistribuidores" >Gestionar Distribuidores</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href= "GestionarTienda"  >Gestionar Tienda en Línea</a>
                </li>
                
            </ul>
        </links>
    </mdb-navbar>
</header>
<div *ngFor="let item of res1; let i = index" >
    <div class="modal.show() container" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{item.nombre}}</h5>
          </div>
          <div class="modal-body">
            <p>Tipo: {{item.tipo}}</p>
            <p>Marca: {{item.marca}}</p>
            <p>Consumo Electrico: {{item.consumoElectrico}}</p>
            <p>#serie: {{item.numeroSerie}}</p>
            <p>Precio: ₡{{item.precio}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click) = "Editar_Dipositivo()" >Editar </button>
            <button type="button" class="btn btn-danger" (click) = "Eliminar_Dispositivo()"  >Eliminar </button>
          </div>
        </div>
      </div>
    </div>
  </div>