<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong>Salir</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="principalVistaUsua">Perfil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link" >Tienda En Línea</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="Reportes">Reportes</a>
                </li>
                
            </ul>
        </links>
    </mdb-navbar>
 </header> 
  

 <div class="d-flex flex-wrap">
<div *ngFor="let item of res1; let i = index" >
    <div class="modal.show() container" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title">{{item.nombre}}</h5>
          </div>
          <div class="modal-body">
            <p>Tipo: {{item.tipo.nombre}}</p>
            <p>Marca: {{item.marca}}</p>
            <p>Consumo Electrico: {{item.consumoElectrico}}</p>
            <p>#serie: {{item.numeroSerie}}</p>
            <p>Precio: ₡{{item.precio}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click) = "enviaraComprar(item)">Comprar </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #frameComprarModal="mdbModal" class="modal fade top" id="ComprarDispositivoModal" tabindex="-1" role="dialog"
     aria-labelledby="ComprarDispositivoLabel" aria-hidden="true" [ngStyle]="{'display': frameComprar ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog" role="document">
    <div class="m2">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Comprar Dispositivos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ComprarDispositivoClose(false)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body mx-4">
            <form #ComprarDispositivo = "ngForm" (ngSubmit)="goToComprar(ComprarDispositivo)">

            <h4 class="modal-title w-10 font-weight-bold">Información Tarjeta</h4>

            <label for="metododePago">Método de Pago Seguro</label>
            <select class="form-control" id="metododePago">
              <option>Visa</option>
              <option>Mastercard</option>
            </select>

            <div class="md-form mb-5">
              <mdb-icon fas icon="credit-card" class="prefix white-text"></mdb-icon>
              <input type="text" name="numeroTarjeta" id="InputNumeroTarjeta" class="form-control white-text"
                  required="" ngModel mdbInput>
              <label for="InputNumeroTarjeta" class="white-text">Numero Tarjeta</label>
            </div>

            <div class="md-form mb-5">
              <mdb-icon fas icon="lock" class="prefix white-text"></mdb-icon>
              <input type="text" name="codigoSeguridad" id="InputCodigoSeguridad" class="form-control white-text"
                     mdbInput required="" ngModel>
              <label for="InputCodigoSeguridad" class="white-text">Código Seguridad</label>
            </div>

            <h4 class="modal-title w-10 font-weight-bold">Información de Faturación</h4>

            
                <div class="md-form mb-5">
                  <mdb-icon fas icon="user-circle" class="prefix white-text"></mdb-icon>
                  <input type="text" name="nombre" id="InputNombre" class="form-control white-text"
                     mdbInput required="" ngModel>
                  <label for="InputNombre" class="white-text">Nombre</label>
                </div>
              
              
                <div class="md-form mb-5">
                  <mdb-icon fas icon="user" class="prefix white-text"></mdb-icon>
                  <input type="text" name="apellido" id="InputApellido" class="form-control white-text"
                     mdbInput required="" ngModel>
                  <label for="InputApellido" class="white-text">Apellido</label>
                </div>
              


              <div class="md-form mb-5">
                <mdb-icon fas icon="map-marker-alt" class="prefix white-text"></mdb-icon>
                <input type="text" name="direccionfacturacion" id="InputDireccionFacturacion" class="form-control white-text"
                   mdbInput required="" ngModel>
                <label for="InputDireccionFacturacion" class="white-text">Dirección Facturación</label>
                </div>
              <div class="md-form mb-5">
                <mdb-icon fas icon="globe" class="prefix white-text"></mdb-icon>
                <input type="text" name="codigoPostal" id="InputCodigoPostal" class="form-control white-text"
                   mdbInput required="" ngModel>
                <label for="InputCodigoPostal" class="white-text">Código Postal</label>
              </div> 
            
              <div class="md-form mb-5">
                <mdb-icon fas icon="mobile" class="prefix white-text"></mdb-icon>
                <input type="text" name="celular" id="InputCelular" class="form-control white-text"
                   mdbInput required="" ngModel>
                <label for="InputCelular" class="white-text">Número Celular</label>
              </div> 
          

            <div class="row" class = "button">
              <button type="submit" class="btn btn-success" >Comprar</button>
              </div>
  
            </form>
            
          </div>
      </div>
    </div>
    </div>
  </div>
