<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong>Salir</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="principalVistaUsua">Perfil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link" >Tienda En Línea</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="Reportes">Reportes</a>
                </li>
                
            </ul>
        </links>
    </mdb-navbar>
    <!-- Main -->
     
    <!-- /.Main -->
 </header> 
  <!--Main Layout-->
  <main class="text-center py-5">

  </main>